@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Fonts that can be used from the above import statement */
/* font-family: 'Libre Baskerville', serif;
font-family: 'Merriweather', serif;
font-family: 'PT Serif', serif; */

:root {
  --brand-color1: #2c4ee3;
  --brand-color2: #ff4d00;
  --brand-color3: purple;
  --paradise: #EF476F;
  --crayola: #FFD166;
  --green: #06D6A0;
  --powder: #FFEABA;
  --brand-font: "coco-sharp", sans-serif;
  --font1: 'PT Serif', serif;
  --font2: 'Libre Baskerville', serif;
  --font3: 'Merriweather', serif;
}

.coco-font {
  font-family: var(--brand-font);
}

.primary-font {
  font-family: var(--font1);
}

.seconday-font {
  font-family: var(--font2);
}

/* ************************************************** */

.parwaaz {
  font-family: var(--brand-font);
  text-transform: uppercase;
  color: #ff4d00;
  text-shadow: 2px 3px 3px blue;
}

/* .in-shadow{
    box-shadow: 0px 0px 127px 55px var(--brand-color2),  0px 1px 751px 151px var(--brand-color1);
} */
.fixed-links {
  width: 3rem;
  max-width: 4rem;
  list-style: none;
  border: 1px solid rgba(105, 90, 205, 0.438);
  border-radius: 3px;
  padding: 0.1rem;
  background-color: rgba(255, 255, 255, 0.579);
  margin: 0 !important;
}

.fixed-link {
  margin: 4px 2px;
  padding: 5px 2px;
  width: 100%;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.fixed-link:hover {
  width: 3.25rem;
}

.social-links {
  /* border: 1px solid red; */
  position: fixed;
  bottom: 30vh;
  z-index: 4;
}

.toggle-links {
  background-color: rgba(43, 226, 226, 0.241);
  height: 20.5rem;
  transition: all 0.5s ease-in-out;
}

.footer {
  background-color: var(--brand-color1);
  color: white;
  width: 100vw;
  position: relative;
  bottom: -1px;
  left: 0;
  padding: 10px 5px;
}