* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.container {
  border: 2mm ridge gray;
  width: 285px;
  height: 125px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-radius: 3px;
}

.container > div:nth-child(1) {
  width: 100%;
  font-size: 55px;
  font-stretch: ultra-condensed;
  color: red;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.421em;
  padding-left: 8px;
  text-shadow: 2px 2px 2px black, -1px 0px 2px orange;
}

.container > div:nth-child(3) {
  font-size: 40px;
  width: 100%;
  height: 100%;
  background: yellow;
  color: gray;
  font-family: "Fira Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
  letter-spacing: 0.2em;
  padding-left: 5px;
  font-weight: lighter;
  text-shadow: 2px 1px 2px black, -1px 0px 2px orange;
}

hr {
  width: 95%;
  height: 10%;
  background-color: gray;
  border-radius: 2px;
  position: relative;
  top: 3px;
}

span {
  position: absolute;
  left: 285px;
  top: -15px;
  font-size: 20px;
  font-weight: bold;
}

#kalka {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 37px;
  font-family: "futura light bt";
  letter-spacing: 0.5em;
  padding-left: 7px;
  margin-top: 5px;
}

main {
  max-width: max-content;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translateY(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translateY(0px);
  }
}
