@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap");

@font-face {
  font-family: "futura light bt";
  src: url(../../fonts/futura-light-bt.ttf);
  font-weight: light;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.container {
  /* border: 5px solid gray; */
  border: 2mm ridge gray;
  width: 285px;
  height: 125px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-radius: 3px;
}
.container > div:nth-child(1) {
  font-stretch: ultra-condensed;
  color: red;
  font-size: 55px;
  line-height: 1;
  font-weight: 700;
  width: 100%;
  letter-spacing: 0.421em;
  padding-left: 8px;
  text-shadow: 2px 2px 2px black, -1px 0px 2px orange;
}
.container > div:nth-child(3) {
  font-size: 40px;
  letter-spacing: 0.118em;
  font-weight: lighter;
  color: gray;
  background: yellow;
  width: 100%;
  height: 100%;
  padding-left: 5px;
  font-family: "Fira Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
  letter-spacing: 0.2em;
  text-shadow: 2px 1px 2px black, -1px 0px 1px orange;
}
span {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  left: 285px;
  top: -15px;
}
hr {
  width: 95%;
  height: 10%;
  background-color: gray;
  border-radius: 2px;
  position: relative;
  top: 3px;
}
#kalkaji {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 37px;
  letter-spacing: 0.5em;
  padding-left: 7px;
  margin-top: 5px;
  font-family: "futura light bt";
}

main {
  max-width: max-content;
  /* Animation */
  animation: float 6s ease-in-out infinite;
}
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
